# Composer
/vendor/

# Copied assets
/assets/wpconstructor/dashboard/

# Node
node_modules/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE / Editor
.vscode/
.idea/

# Build / dist
dist/
dist-vendor/
build/

# PHPUnit
/tests/logs/
/.phpunit.cache/
.phpunit.result.cache